# application.yml 파일 무시하기
**/application-secret.yml

# .gradle
.gradle/

# build 디렉토리는 무시하되 .jar 파일은 포함
**/build/
!**/build/libs/
!**/build/libs/*.jar

# iml 확장자 파일
*.iml

# .idea
.idea

# 로그
*.log

# 임시 파일
*.tmp
*.bak
*.swp
.DS_Store


