.board-list-container {
    padding: 20px;
}

.board-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
}

.board-info {
    flex: 1;
    padding-right: 20px;
}